<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Homework07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D366DC841E4CE632001D4D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D366DC981E4CE632001D4D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D366DCA31E4CE632001D4D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
